/* HomePage.css */

#home {
    height: 100%;
  }
  
  
  
  .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
  }
  
 
  
  .caption h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .caption h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  
  .caption button {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    margin-top: 2rem;
    background-color: #333; /* set the background color of the button */
    border-color: #333; /* set the border color of the button */
  }
  
  .caption button:hover {
    background-color: #454948; /* change the background color of the button on hover */
    border-color: #424443; /* change the border color of the button on hover */
    cursor: pointer;
  }
  