.form-container {
  background-color: #36393f;
  border-radius: 8px;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 20px;
  color: white;
  animation: slide-up 0.6s ease-in-out;
  width: 500px;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.form-container input[type="text"], .form-container input[type="password"] {
  background-color: #40444b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-container input[type="text"]::placeholder, .form-container input[type="password"]::placeholder {
  color: #b9bbbe;
}

.form-container button[type="submit"] {
  background-color: #7289da;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-container button[type="submit"]:hover {
  background-color: #677bc4;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.form-container button[type="submit"]:focus {
  outline: none;
}
