.form-container {
  background: linear-gradient(to bottom, #BDBDBD, #000000); /* Add gradient background */
  border-radius: 10px;
  padding: 30px;
  color: white;
  animation: slide-up 0.6s ease-in-out; /* Add animation */
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.form-container button[type="submit"] {
  background: linear-gradient(to bottom, #3897f0, #33b2ff); /* Add gradient background to button */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-container button[type="submit"]:hover {
  background: linear-gradient(to bottom, #33b2ff, #3897f0); /* Change background on hover */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.form-container button[type="submit"]:focus {
  outline: none;
}
